.coverage
Parks.sqlite
Parks.egg-info

*.swp
*.pyc

# This is downloaded automatically from Wikipedia
parks/scripts/initialize_db/*.html
parks/scripts/initialize_db/*.html.soup.pickle

# Created automatically by Closure
parks/static/js/deps.js

# Beaker session stuff
data
