/* I want to keep modifications separate from Bootstrap, because I don't
really know what I'm doing. */

body {
    padding-top: 60px;
}
body .backwards {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.navbar .nav.actions {
    float: right;
}

.navbar-inner {
    background-image: linear-gradient(to bottom, #404040, #111111);
}

.container-narrow {
    background: url('/static/images/cream_dust_transparent.png') repeat 0 0;
    margin: 0 auto;
    max-width: 900px;
    padding: 30px;
    box-shadow: 0px 0px 5px 3px #FFFFFF;
}

h1 {
    text-shadow: 1px 1px 1px #ccc;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', Georgia, Times, serif;
}

p, div {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

[class*="span"] {
    /* Override Bootstrap */
    margin-left: 0;
}
[class*="span"] .inner {
    margin-left: 20px;
}

.table thead th {
    font-weight: bold;
}
.table th {
    font-weight: normal;
}

.footer {
    float: bottom;
    padding: 10px 0;
    margin-top: 10px;
    border-top: 1px solid #e3e3e3;
    background-color: #f5f5f5;
}
.footer p {
    margin-bottom: 0;
    color: #333;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}
