#stamp-location-info th.stamp-location-description {
    width: 40%;
}
#stamp-location-info th.stamp-location-address {
    width: 30%;
}
#stamp-location-info th.stamp-location {
    width: 20%;
}
#stamp-location-info th.stamp-location-count {
    width: 10%;
    text-align: center;
}

#stamp-info th.stamp-text, td.stamp-text {
    width: 350px;
    text-align: center;
}
#stamp-info th.stamp-status {
    width: 100px;
}
#stamp-info th.stamp-last-seen {
    width: 100px;
}
#stamp-info th.stamp-actions {
    text-align: center;
}
